@media (min-width:320px) {
    .main {
        font-size: 8px;    
    }
}
@media (min-width:481px) {
    .main {
        font-size: 12px;
    }
}
@media (min-width:641px) {
    .main {
        font-size: 16px;
    }    
}
@media (min-width:961px) {
    .main {
        font-size: 20px;
    }
}
@media (min-width:1025px) {
    .main {
        font-size: 24px;
    }
}
@media (min-width:1281px) {
    .main {
        font-size: 32px;
    }
}